# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
ENV/
*.sqlite3

# Node
node_modules/
dist/
build/

# 系統檔案
.DS_Store
Thumbs.db
*.log

# 編輯器設定
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# 其他
*.bak
*.tmp
*.env
